html,
body{
  height: 100%;
  min-width:1200px;  
  width: auto !important;  
  width:1200px;
  background-color: black
}

#mainpage {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: 1fr 6fr 1fr / 1fr 6fr;
  align-content: center;
  justify-content: center;
}


.modal{
  width: 50%;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: gainsboro;
}

.signUpContainer {
  position: relative;
  left: 10px;
}

input[type=text], input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.signUpButton {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 48%;
  opacity: 0.9;
}
.cancelbtn {
  background-color: rgba(182, 41, 41, 0.897)
}

.signUpButton:hover {
  opacity:1;
}

.dropdown-btn {
  font-size: 20px;
}
.sideBarSound, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: aqua;
  font-family: 'ZCOOL KuaiLe', cursive;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sideBarSound {
  font-size: 14px;
}

/* On mouse-over */
.a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

.active {
  background-color: green;
  color: white;
}

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

h1 {
  font-size: 60px;
  font-family: 'ZCOOL KuaiLe', cursive;
  color: aqua;
  display: inline;
  position: relative;
  left: 10px;
  top: 10px;
}

.logInButton {
  font-size: 24px;
  font-family: 'ZCOOL KuaiLe', cursive;
  color: aqua;
  display: inline;
  border: 3px thin;
  border-radius: 5px;
  border-color: aqua;
  position: absolute;
  padding: 2px 2px;
  top: 30px;
  background-color: transparent;
  cursor: pointer;
}
#logIn {
  right: 150px;
}

#signUp {
  right: 50px;
}

.grid {
  display: grid;
  grid-gap: 1px 1px
}

.newsoundbutton {
  background-color: rgb(100, 245, 255);
  color: rgb(51, 48, 48);
  padding: 8px 16px;
  width: 100px;
  height: 50px;
  text-align: center;
  border-radius: 2px;
  font-size: 12px;
  margin: 8px 4px;
  cursor: pointer;
  display: block;
  position: absolute;
  top: 5%;
  left: 20%;
  white-space: normal;
}
.dis {
  left: 2.5%;
}

.like {
  right: 2.5%;
}

.likeButton {
  background-color: aqua;
  color: rgb(51, 48, 48);
  padding: 8px 8px;
  width: 75px;
  height: 50px;
  text-align: center;
  border-radius: 2px;
  font-size: 12px;
  margin: 8px 4px;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 5%;
}

.trashButton {
  cursor: pointer;
}

.playButton {
  background-color: aqua;
  color: rgb(100, 100, 100);
  padding: 5px 5px;
  margin: 2px 2px;
  height: 50px;
  width: 50px;
  border-radius: 100px;
  cursor: pointer;
  position: absolute;
}

#playButton {
  left: 44%;
  top: 20%;
}

.playPauseRow {
  right: 20px;
}

#tempoRange {
  direction: ltr;
}

.box {
  background-color: rgb(59, 59, 59);
  color: black;
}

.topbar {
    grid-area: 1 / 1 / span 1 / span 2;
    position: relative;
}

.leftbar {
  grid-area: 2 / 1 / span 1 / span 1;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: scroll;
}

.leftBottom {
  grid-area: 3 / 1 / span 1 / span 1;
  position: relative;
  z-index: 1
}

.bottombar {
    grid-area: 3 / 2 / span 1 / span 1;
    position: relative;
}

.center{
    grid-area: 2 / 2 / span 1 / span 1;
    position: relative;
    overflow-y: scroll;
}

.rowbutton {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 4px;
  cursor: pointer;
  margin: 2px 2px;
}

.beatImages {
  background-color: transparent;
  border: none;
  position: relative;
  top: 2px;
  left: 1px;
  padding: 5px 5px;
}